<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    {% if messages %}
    {% for message in messages %}
       <p class="mas">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <!-- 1111111111111111111111111111111 -->
    {% if deta.non_field_errors %}
        {% for error in deta.non_field_errors %}
             <p class="err"> {{error}} </p>
        {% endfor %}
    {% endif %}
<!--###############################################################  -->
  
<form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
   <br><br> Name of book:-{{deta.name}} <br><br>
    {{deta.image}} <br><br><br>
    <input type="submit" value="save"> <br><br> 
</form>


<a href="{% url 'home' %}"><input type="submit" value="back_to_home"></a> <br><br> 
</body>
</html>